@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-satoshi);
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-general-sans);
    color: #140c24;
    margin-bottom: 1rem;
    line-height: 32px;
    text-wrap: balance;
}

h1 {
    font-weight: 700;
    font-size: 27.65px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
}

p {
    color: #585264;
    line-height: 24px;
    text-wrap: balance;
}

a:hover {
    text-decoration: none;
}

ul {
    list-items: none;
    display: flex;
}

section:not(:last-child) {
    padding-block: 4rem;
}

header {
    display: flex;
}

input::placeholder {
    text-transform: uppercase;
    font-weight: light;
    font-size: 0.8rem;
}

/* Footer styles */
footer {
    color: #f9f7fe;
    background-color: #29194a;
}

footer header {
    color: #e7ddfb;
}

footer section:last-child {
    color: #140c24;
}

/* Input type file styles */
input.create-event::file-selector-button {
    border: none;
    background-color: #e7ddfb;
    width: 100%;
    height: 100%;
    color: transparent;
}

/* Modal styles */
.modal {
    position: fixed;
    inset: 0; /* I used inset to set all 4 values (top right bottom left) at once */
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    overflow-y: scroll;
    z-index: 999;
    padding: 20px;
}

.modal-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%; /* To enable scrolling */
    overflow-y: auto;
    scrollbar-width: none;
}

.modal-content::-webkit-scrollbar {
    display: none; /* remove scrollbar */
}

/* loaders */
.page-loader {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 5px dotted #786995;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px dotted #fff;
    border-right: 3px dotted transparent;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Hero section styles */
.banner {
    background-image: url('/images/Hero_Section_Gradient.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.get-started-image-bg {
    background-image: linear-gradient(
        180deg,
        #f9e8be 0%,
        #8a7980 0.59%,
        #29194a 90%
    );
}

.get-started-image-bg span:nth-child(2) {
    color: #f8e4b2 !important;
}

.get-started-image-bg span {
    color: #fefbf4 !important;
}

/* FAQ styles */
.faq {
    position: relative;
    overflow: hidden;
}

.faq::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25%;
    height: 50%;
    width: 50%;
    z-index: -1;
    opacity: 0.122;
    background: var(--gold-secondary-g-300, #f5d88f);
    filter: blur(52.710025787353516px);
}

/* Contact style */
.contact {
    background-color: #29194a;
    background: url('/images/contact-bg.png'), #29194a no-repeat;
    background-size: cover;
}

/* Sign up */
.continue-with::before,
.continue-with::after {
    content: '';
    position: absolute;
    top: 5px;
    width: 130px;
    height: 1px;
    background-color: #786995;
}

.continue-with::before {
    left: 50px;
    margin-right: 50px;
}

.continue-with::after {
    right: 50px;
}

/*Web App Sub Navigation styles*/
.subnav::-webkit-scrollbar {
    display: none;
}

.selected-tab:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 100%;
    width: 1px;
    background-color: #807c89;
    padding-block: 0.5rem;
    opacity: 0.3;
}

.selected-tab-active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #786995;
}

/* Event card paragraph and title styles */
.desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
}
.title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* Swiper styles */
.swiper-slide {
    height: auto !important;
}

.swiper-content {
    height: 100% !important;
}

/* I changed the absolute default position to relative 
to give the bullets enough space above the event card */
.swiper-pagination {
    position: relative !important;
    margin-top: 20px;
}

//TODO find a more elegant solution to the propblem
/* The absolute height is necessary to fix the carousel overflow that was occuring using height:auto */
/* custom style for getting started steps */
.banner-slide .swiper-slide {
    height: 920px !important;
}

/* Media queries custom style for getting started steps */
@media screen and (min-width: 768px) {
    .banner-slide .swiper-slide {
        height: 1093px !important;
    }
}

@media screen and (min-width: 900px) {
    .banner-slide .swiper-slide {
        height: 459px !important;
    }
}

@media screen and (min-width: 980px) {
    .banner-slide .swiper-slide {
        height: 493px !important;
    }
}

@media screen and (min-width: 1280px) {
    .banner-slide .swiper-slide {
        height: 623px !important;
    }
}

/* Media Queries for fonts */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 37.78px;
        line-height: 47px;
    }

    h2 {
        font-size: 27px;
        line-height: 34.5px;
    }

    /* Authentication form styles */
    .form {
        background: linear-gradient(
            180deg,
            #f9e8be -55.83%,
            #8a7980 -29.98%,
            #29194a 100%
        );
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 45px;
        line-height: 54px;
    }

    h2 {
        font-size: 33.18px;
        line-height: 32px;
    }

    /* I had to do this because the close button was shifting out of the modal from this screen upward*/
    .modal {
        align-items: center;
    }
}
