@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-satoshi);
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-general-sans);
    color: #140c24;
    margin-bottom: 1rem;
    line-height: 32px;
}

h1 {
    font-weight: 700;
    font-size: 27.65px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
}

p {
    color: #585264;
    line-height: 24px;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-items: none;
    display: flex;
}

section:not(:last-child) {
    padding-block: 4rem;
}

header {
    display: flex;
}

footer {
    color: #f9f7fe;
    background-color: #29194a;
}

footer header {
    color: #e7ddfb;
}

footer section:last-child {
    color: #140c24;
}

.banner {
    background-image: url('/images/Hero_Section_Gradient.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.award-wining {
    background-color: #fefbf4;
}

.faq {
    position: relative;
    overflow: hidden;
}

.faq::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25%;
    height: 50%;
    width: 50%;
    z-index: -1;
    opacity: 0.122;
    background: var(--gold-secondary-g-300, #f5d88f);
    filter: blur(52.710025787353516px);
}

.contact {
    background-color: #29194a;
    background: url('/images/contact-bg.png'), #29194a no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 37.78px;
        line-height: 47px;
    }

    h2 {
        font-size: 27px;
        line-height: 34.5px;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 45px;
        line-height: 54px;
    }

    h2 {
        font-size: 33.18px;
        line-height: 32px;
    }
}
