@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-satoshi);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-general-sans);
    color: #140c24;
    margin-bottom: 1rem;
    line-height: 32px;
}

h1 {
    font-weight: 700;
    font-size: 27.65px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
}

p {
    color: #585264;
    line-height: 24px;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-items: none;
    display: flex;
}

section:not(:last-child) {
    padding-block: 3rem;
}

header {
    display: flex;
}

footer {
    color: #f9f7fe;
    background-color: #29194a;
}

footer header {
    color: #e7ddfb;
}

footer section:last-child {
    color: #140c24;
}
